/* Header container styling */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.25rem;
    margin-bottom: 5rem;
    color: #413737;
    border-bottom: 2px solid #413737;
    background-color: #F6E7CB;
    align-items: center;
}

/* H1 & LOGO STYLING */
.header .header-h1 {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
}

.header-button {
    padding: 0.5rem;
}

.header-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transform: translateY(-1px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}


/* SMALL DEVICE STYLING */
@media (max-width: 700px) {
    
    .header {
        margin-bottom: 1rem;
    }

    .header .logo {
        max-width: 30px;
        max-height: 30px;
    }
    
    .header .header-h1 {
        font-size: 20px;
    }

    .hide-link {
        display: none;
    }

    .header-button {
        background-color: rgba(0, 0, 0, 0.05);
        border: 1px solid white;
        border-radius: 5px;
    }

}