/* 
    DRAGGABLE INPUT STYLING
*/

.input-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

.input-tags .bin-button {
    margin-left: 1rem;
}