.PlanningHeaderDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5rem;
}

.inputTags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}