.PlanningHeaderDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5rem;
}

.inputTags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

.radioLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    margin-top: 0.5rem;
    border-radius: 10px;
    height: 50px;

    font-weight: bold;
}