/* OVERLAY_STYLES */
.overlay-styles {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* CONFIRMATION_STYLE */
.confirmation-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 500px;
    width: 95%;
    min-height: 200px;
    z-index: 1000;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* BUTTON_DIV_STYLES */
.button-div-styles {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

/* BUTTON_STYLE */
.button-style {
    display: inline-block;
    text-align: center;
    border: solid;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    background-color: #f5f5f5;
    color: #3B82F6;
}

.button-style:hover {
    background-color: #3B82F6;
    color: white;
}

/* PARAGRAPH_STYLE */
.paragraph {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

/* STYLE FOR THE DIV WRAPPING THE MAPPING */
.flex-wrapper {
    display: contents;
}

@media (max-width: 700px) {
    .button-div-styles {
        gap: 1rem;
    }
}