/* WRAPPER STYLING */
.goal-section-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

/* Custom styling of encompassing <Card/>*/
.goal-detail-card {
    background-color: #F5F5F5;
    width: 95%;
    max-width: 1100px;
    border: none;
    gap: 2rem;
}

.cardDiv.showing-sidebar {
    margin-right: 0.5rem;
    margin-left: auto;
}

/* Styling of the breadcrumb */
.goal-detail-crumb {
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: -2rem;
    color: #78807C;
}


/* Styling of cards header row */
.goal-detail-header {
    /* Sizing */
    width: 90%;
    min-width: min-content;

    /* flex display & spacing */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.goal-detail-header div {
    display: flex;
    gap: 1rem;
}

.goal-detail-header button {
    /* Border & button padding */
    border: 0.5px solid black;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 18px;
}

.goal-detail-header button:hover {
    border: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); 
    cursor: pointer;
}

/* Goal feature card styling */
.goal-feature-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 2rem;
}

.goal-feature-card {
    width: 22%;
    min-width: 200px;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;

    /* flex display & spacing*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    flex-grow: 1;
}

.goal-feature-card title {
    color: black;
}

.goal-feature-card content {
    color: #737A87;
}

/* Goal step view styling */
.goal-detail-steps {
    width: 100%;
    display: flex;
    justify-content: center;
}

.goal-detail-steps .react-aria-Checkbox {
    /* flex display & spacing*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 2rem;

    /* Sizing */
    width: 90%;
}

.goal-detail-steps .checkbox-option {
    width: 100%;
    border-bottom: 1px solid #737A87;
    padding: 0.75rem;
    color: #737A87;

    display: flex;
    flex-direction: row;
    gap: 2rem;  
    justify-content: start;
}

.goal-detail-steps .checkbox-grid {
    border: 1px solid #737A87;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.checkbox-option[data-selected] .description-text {
  text-decoration: line-through;
} 


/* SIDE REVIEW BAR STYLING */
.side-review-bar {
    max-width: fit-content;
    margin-left: 0;
    margin-right: auto;
    justify-content: start;
    gap: 0.5rem;
    padding-top: 2rem;
    background-color: #F8F9FA;
}

.side-review-bar button {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 0.5rem;
    background-color: #F8F9FA;
}

.side-review-bar button:hover {
    border: none;
    transition: box-shadow 0.2s;
    box-shadow: 0 3px 0 0 rgba(66, 153, 225, 0.5);
    cursor: pointer;
    transform: translateX(4px);
    }


/* REVIEW MODAL STYLING */
.review-inputs {
    align-self: start;
}

.back-button {
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
    border-radius: 100px;
    background-color: white;
    transform: scale(1.3);
    transform-origin: center;
}

.back-button :hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.goal-detail-header .bin-button {
    align-self: center;
}


/* SMALL DEVICE STYLING */
@media (max-width: 700px) {
    .goal-detail-header h1 {
        font-size: 18px;
        margin-bottom: 0.4rem;
    }

    .goal-detail-header {
        width: 95%;
    }

    .goal-detail-crumb {
        width: 95%;
    }

    .goal-detail-header button {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .side-review-bar {

        /* Sizing */
        max-width: none;
        width: 90%;

        /* Positioning */
        left: 50%;
        transform: translate(-50%, 20px);
        position: absolute;
        z-index: 10;

        /* other */
        padding-bottom: 2rem;
        border: 2px solid black;
        backdrop-filter: blur(100px);
    }

}