/* Custom styling of encompassing <Card/>*/
.goal-detail-card {
    background-color: #F5F5F5;
    min-width: min-content;
    width: 80%;
    border: none;

    gap: 2rem;
}

/* Styling of cards header row */
.goal-detail-header {
    /* Sizing */
    width: 90%;
    min-width: min-content;

    /* flex display & spacing */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.goal-detail-header div {
    display: flex;
    gap: 1rem;
}

.goal-detail-header button {
    /* Border & button padding */
    border: 0.5px solid black;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 18px;
}

/* Goal feature card stylign */
.goal-feature-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goal-feature-card {
    width: 22%;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;

    /* flex display & spacing*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

.goal-feature-card title {
    color: black;
}

.goal-feature-card content {
    color: #737A87;
}

/* Goal step view styling */
.goal-detail-steps {
    /* flex display & spacing*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 2rem;

    /* Sizing */
    width: 90%;
}

.goal-detail-step {
    width: 100%;
    border-bottom: 1px solid #737A87;
    padding: 0.75rem;
    color: #737A87;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.steps-border {
    border: 1px solid #737A87;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}