/* MAIN CONTAINER STYLING */
.review-detail-container {
    /* sizing */
    width: 97%;
    max-width: 640px;

    /* spacing */
    padding: 0;
    padding-bottom: 5rem;
    /* border & background */
    background-color: transparent;
    border: transparent;
    border-radius: 0;
}

/* SECTION CARD STYLING */
.review-detail-card {
    /* size & spacing */
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

/*  */
.review-detail-card p {
    align-self: flex-start;
}

.review-detail-card .quote {
    align-self: center;
    font-style: italic;
}

.review-detail-card .radio-option {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

/* FORM SUBMIT BUTTON STYLING */
.submit-button {
    border: 2px solid black;
    background-color: #D9D9D9;
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}


.submit-button:hover {
    /* Move up 2px */
    transform: translateY(-2px);
    /* Cast a larger shadow downwards */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.submit-button:active {
    /* Push down when clicked */
    transform: translateY(0);
}

/* FORM FIELD STYLING */
.review-detail-form {
    display: contents;
}

.textarea {
    width: 100%;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: inherit; 
    resize: vertical; 
    min-height: 80px;
    line-height: 1.5;
    touch-action: manipulation;
}

.review-radio {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

.radio-option {
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid black;
}

.radio-option[data-selected] {
    background-color: #3B82F6;
    color: white;
    border: 1px solid white;
}

@media (max-width: 700px) {
    .review-detail-card h1 {
        font-size: 20px;
        padding-bottom: 1rem;
    }
}