/* MAIN CONTAINER STYLING */
.review-detail-container {
    /* sizing */
    width: 70%;
    height: auto;
    /* spacing */
    overflow-y: scroll;
    justify-content:flex-start;
    padding: 0;
    padding-top: 5rem;
    margin-top: -5rem;
    padding-bottom: 5rem;
    /* border & background */
    background-color: transparent;
    border: transparent;
    border-radius: 0;
}

.review-detail-container::-webkit-scrollbar {
    display: none;
}

/* SECTION CARD STYLING */
.review-detail-card {
    /* size & spacing */
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

/*  */
.review-detail-card p {
    align-self: start;
    margin-top: 1rem;
}

.review-detail-card .quote {
    align-self: center;
    font-style: italic;
}

/* RADIO FORM STYLING */
.review-detail-card .radio-group-container{
    gap: 3rem;
}

.review-detail-card .radio-option {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

/* FORM SUBMIT BUTTON STYLING */
.submit-button {
    border: 2px solid black;
    background-color: #D9D9D9;
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}


.submit-button:hover {
    /* Move up 2px */
    transform: translateY(-2px);
    /* Cast a larger shadow downwards */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.submit-button:active {
    /* Push down when clicked */
    transform: translateY(0);
}

/* FORM FIELD STYLING */
.review-detail-form {
    display: contents;
}