
/* PAGE CONTAINER STYLING */
.goal-review-container {
    min-height: fit-content;
    overflow: auto;
}


/* HEADER STYLING */
.goal-review-container h1 {
    margin-left: 25%;
}

/* TEXT DIV STYLING */
.review-text-container {
    /* Flex & spacing */
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 0.4rem;
    align-items: start;
    justify-content: space-between;

    /* Div sizing */
    max-width: 640px;
    width: 95%;

    /* Border & Appearance */
    border-radius: 7px;
    border: 1px solid black;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: #c1ccd3;
    border-left: 5px solid rgb(83, 200, 77); 
}

.review-text-container:hover {
    box-shadow: 0 0 0 3px rgb(83, 200, 77); 
    border: 1px solid none;
    transform: translateY(-3px);
    cursor:pointer;
}

.review-text-container .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.progress-bar {
    min-width: fit-content;
}

@media (max-width: 700px) {
    .goal-review-container h1 {
        font-size: 20px;
        margin-bottom: 1rem;
    }
}