.cardDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem; 
    padding-right: 1.25rem;
    background-color: #D9D9D9;
    border-width: 2px;
    border-style: solid;
    border-color: #000; 
    border-radius: 1rem;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; 
    border-radius: 9999px;     
    height: 2rem;
    width: 2rem;               
}