/* 
    RECURRENCE SELECTION DIV STYLING
    Below contains Recurrence section specific modal styling
*/

.recurrenceForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recurrenceGroup {
    background-color: #F5F2EA;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22);
}

.recurrenceRows {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    padding-bottom: 1rem;

    gap: 2rem;
    font-weight: bold;
}

.react-aria-ComboBox {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/*
    CALENDAR SELECTION STYLING
*/

.react-aria-Group {
    width: 100%;
    position: relative;
    overflow: visible;
}

.aria-Input {
    flex-grow: 1;
    border: 1px solid black;
    background-color: #FEFEFE;
}

.react-aria-DatePicker {
    width: 100%
}

/*
    MODAL TEMPLATE STYLING
*/
.confirmation-style {
    background-color: #F5F5F5;
    
}

/* 
    COMBO BOX STYLING
*/

.dropDownSelect{
    width: max-content;
    position: relative;
    overflow: visible;
}

.dropDownInput {
    height: 2rem;
    width: 100%;
    background-color: #FEFEFE;
}

.dropDownInputButton {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-40%);
    z-index: 2;
}

/*
    SUBMISSION BUTTON STYLING
*/  

.recurrenceSubmitButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.recurrenceSubmitButton {
    width: 45%;
    height: 2.5rem;
    border: 1.5px solid #3B82F6;
    border-radius: 10px;
    color: #3B82F6;
    font-weight: 600;
    background-color: #F5F5F5;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.recurrenceSubmitButton:hover {
    background-color: #3B82F6;
    color: #F5F5F5;
}