/* MAIN CARD STYLES */
.card-container {
    /* flex & placement */
    display: flex;
    flex-direction: row;
    padding: 1rem;

    /* sizing */
    width: 95%;
    height: 12rem;
    max-width: 850px;

    /* Colouring */
    background-color: #D9D9D9;
    border-radius: 20px;
    box-shadow: var(--shadow-lg);
}

/* WELCOME TEXT STYLE */
.welcome-text {
    /* Spacing & sizing */
    margin-bottom: 0;
    width: 95%;
    max-width: 850px;
    padding-left: 0.5rem;
}

/* Button styling for the home page feature cards*/
.home-button {
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 33%;
}

.home-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transform: translateY(-1px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.home-button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); 
    background-color: rgba(0, 0, 0, 0.02);
}


.card-container:hover {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); 
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/* Svg image styling */
.svg-image {
    max-width: 100%;
    min-height: auto;
}

/* SMALL DEVICE STYLING */
@media (max-width: 700px) {

    /* WELCOME HEADER */
    .welcome-text {
        font-size: 20px;
    }

    /* MAIN CARD CONTAINER */
    .main.card-container {
        position: relative;
        z-index: 0;
        background-color: transparent;
    }

    .main.card-container:hover {
        box-shadow: none;
        outline: none;
    }

    /* SVG STYLING */
    .svg-image {
        display: none;
    }

    .svg-image-mobile {
        display:inline;
        position: absolute;
        top: 0;
        left: 0;   
        min-width:101%;
        height: 101%;
        z-index: -1;
        
        transform: scaleX(1) scaleY(1);
        object-fit: fill; 
        overflow: hidden; 
    }

    /* CONTAINER FONT & TEXT */
    .container-text {
        color: white;
        text-shadow: 
            0 1px 2px rgba(0,0,0,0.8), 
            0 0 1em rgba(0,0,0,0.5);
        -webkit-text-stroke: 0.2px black;
        z-index: 1;
    }

    .container-text button {
        align-self: center;
        width: 90%;
    }

    .container-text h2 {
        align-self: center;
    }
}