.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem; 
    padding-right: 1.25rem;
    background-color: #D9D9D9;
    border-width: 2px;
    border-style: solid;
    border-color: #000; 
    border-radius: 1rem;
}
