/* HEADER STYLING */ 
.headerGoal {
    margin-left: 15%;
}

/* The container that holds all the cards*/
.CardContainer {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* The individual cards */ 
.GoalViewCard {
    /* Spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Sizing */
    width: 100%;
    min-width: 100%;
    border-radius: 15px;
    aspect-ratio: 1 / 1.1;
    padding: 1rem;

    /* Text styling */
    font-weight: 400;
    color: antiquewhite;

    /* Other styling */
    box-shadow: 
        -4px 6px 0px 0px rgba(0, 0, 0, 0.2),
        4px 6px 0px 0px rgba(0, 0, 0, 0.2);
}

/* Card <h2> styling */
.GoalViewH2 {
    font-size: clamp(1rem, 1.5vw, 3rem);
}