/* Bread crumb styling */
.goal-card-crumb {
    font-weight: 200;
    color: #78807C;
    font-size: 0.8rem;
}

/* The container that holds all the cards*/
.CardContainer {

    /* Sizing */
    width: 95%;
    min-height: fit-content;
    padding-bottom: 2rem;
    box-sizing: border-box;
    max-width: 900px;
    
    /* Spacing */
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;

    /* Other */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 30%), 1fr));
    gap:2rem;
    overflow-y: auto;
}

/* Card Container Header */
.headerGoal {
    grid-column: 1/-1;
}

/* The individual cards */ 
.GoalViewCard {
    /* Spacing */
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    /* Sizing */
    border-radius: 15px;
    aspect-ratio: 1.2 / 1;
    padding: 1rem;
    min-width: 250px;

    /* Text styling */
    font-weight: 400;
    color: antiquewhite;

    /* Other styling */
    box-shadow: 
        -4px 6px 0px 0px rgba(0, 0, 0, 0.2),
        4px 6px 0px 0px rgba(0, 0, 0, 0.2);
}

/* Styling for when the mouse is hovering over the card */
.GoalViewCard:hover {
    cursor: pointer;
    filter: brightness(90%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);    
    transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out, transform 0.15s ease-out;
}

/* Styling for when the user is actively clicking/pressing down on the card */
.GoalViewCard:active {
    transform: scale(0.98); 
    filter: brightness(80%);
    box-shadow: none;
    transition: transform 0.05s ease-out, background-color 0.05s ease-out;
}

/* Card <h2> styling */
.GoalViewH2 {
    font-size: clamp(1rem, 1.5vw, 3rem);
}