.planning-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 95%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5rem;
}

.planning-header p {
    font-weight: bold;
}
@media (max-width: 700px) {
}