/* 
    Styling for the header area containing the "Plan Your Goal" text. 
*/
.PlanningHeaderDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5rem;
}

/* 
    Container for the draggable step input tags. 
*/
.inputTags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}


/* 
    CSS styling for the recurrence selection divs
*/

.recurrenceForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recurrenceRows {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 1rem;
    padding-bottom: 1rem;
    border-color: #413737;
    border-bottom-width: 2px;

    gap: 2rem;
    font-weight: bold;
}

.dateInputStyle {
    width: 100%;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}