@import "tailwindcss";

header {
    background-color: #f5f5f5;
    color: #413737;
}

main {
    background-color: #F6E7CB;
    color: #413737;
    font-family: "Manrope", sans-serif;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

h2 {
    font-size: x-large;
    font-weight: 600;
}

h3 {
    font-size: medium;
    font-weight: 550;
}

input {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 50px;
    margin-top: 5px;
    border-radius: 10px;
    height: 50px;
    padding-left: 20px;
}