/* PROGRESS BAR */
.review-text-container .CircularProgressbar {
    width: 60px;
    height: 60px;
    align-self: center;
}

.CircularProgressbar {
  width: 100%;
  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: rgb(83, 200, 77);
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: rgb(83, 200, 77);
  font-size: 1.5rem;
  font-weight: 700;
  dominant-baseline: middle;
  text-anchor: middle;
}